.App {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 25px;
}

.location-container {
  border: 2px solid grey;
  width: 750px;
  background-color: white;
  padding-bottom: 50px;;
}

.location-container > h1 {
  background-color: grey;
  padding: 30px;
  
}

.id {
  margin-top: 40px;
}
